@model PasSionDvDsTorE.Models.User

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
    ViewBag.Title = "Login Authority";
}

<link href="~/assets/css/bootstrap.css" rel="stylesheet" />
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/assets/css/style1.css" rel="stylesheet" />
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="/Home/Index">Home</a> <span class="divider">/</span></li>
        <li class="active">Login</li>
    </ul>
    <h3> Login</h3>
    
    <a href="/Home/Index"><img src=@ViewBag.x alt="" /></a>
    <div class="row">
        <div class="span6">
            <div class="well">
                <h4>PassionDVDCollection Login</h4>
                <form>
                    <label class="control-label" for="inputEmail">Email</label>
                        @Html.LabelFor(x=>x.Email)
                        
                        <div class="controls">
                            <input class="span3" type="text" id="inputEmail" placeholder="Email">
                        </div>
                    
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" class="span3" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Sign in</button> <a href="forgetpass.html">Forget password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>